@charset "utf-8";
/* CSS Document */
html { background: url(	../img/img/3389/try_back_color.jpg) repeat; }
div.mainbody {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	position:relative;
}

td.col_01{ background: #cacaca; }
div.col_03 {
	margin-right: 0px;
	margin-left: 0px;
}
td.col_02 {
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.homepage div.col_03 {
}

.homepage div.list{ padding-left:10px; padding-right:10px;} 
.mainbody { background: #FFF; 
}
.homepage .mainbody {
	background-image: none;
}
div.hr01 {
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCCCCC;
}
div.hr02 {
	height: 1px;
	margin-top: 19px;
}

/*-----------------分類清單-----------------------*/
div.mo_cgmenu {}
div.mo_cgmenu h3{ display: none; }
div.flyoutMenu { width: 200px; border-top-width: 1px; border-top-style: solid; border-top-color: #666666; }
div.flyoutMenu ul{}
div.flyoutMenu ul li{}
div.flyoutMenu div.flyoutLink {}
div.flyoutMenu span.floatR { display: none; }
div.flyoutMenu span.floatL { display: none;} /* 當有下級項目顯示右邊圖示 */
div.flyoutMenu div.flyoutLink a {
	height: 30px;
	width: 180px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	display: block;
	padding-left: 20px;
	line-height: 30px;
}
div.flyoutMenu div.flyoutLink a:hover {
	background-image: url(../../../../red044.redmedia.com.tw/ezcatfiles/red044/style/295/pictures/flyoutMenu-bg200-01.html);
	background-repeat: no-repeat;
	text-decoration: none;
	background-position: left;
}

/*-----------------分類清單(下級分類)-----------------------*/
div.flyoutSubMenu {width: 200px; border-top-width: 1px; border-top-style: solid; border-top-color: #666666;}
div.flyoutSubMenu ul{}
div.flyoutSubMenu ul li{}
div.flyoutSubMenu div.flyoutSubLink { }
div.flyoutSubMenu span.floatR {display: none;}
div.flyoutSubMenu span.floatL {display: none;} /* 當有下級項目顯示右邊圖示 */
div.flyoutSubMenu div.flyoutSubLink a { height: 30px; width: 180px;  border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: #666666; border-bottom-color: #666666; border-left-color: #666666; display: block; padding-left: 20px; line-height: 30px; }
div.flyoutSubMenu div.flyoutSubLink a:hover { background-image: url(../../../../red044.redmedia.com.tw/ezcatfiles/red044/style/295/pictures/flyoutMenu-bg200-01.html); background-repeat: repeat-x; text-decoration: none;}

/*-----------------分類清單(消除選單底下空格--黑快馬提供)-----------------------*/
.flyoutMenu li { margin-bottom: -4px \9 !important; }
.flyoutMenu li div div li { margin-bottom: 0px \9 !important; }


/*-----------------分類頁面(陰影效果--有產品)-----------------------*/
div.ptlist {}/* 總框架 */
div.ptlist h3{
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #587f75;
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
	padding-left: 10px;
}/* 標題 */
div.ptlist div.path {
	text-align: right;
}/* 路徑 */
div.ptlist div.path {
	text-align: right;
	position: absolute;
	top: 15px;
	display: block;
	float: right;
	width: 720px;
}/* 路徑 */
div.ptlist div.desc {}/* 頁面簡單說明 */
div.ptlist div.list table.list {}/* 產品主框架 */
div.ptcontent {
  background: url(../../../../red154.redmedia.com.tw/ezcatfiles/red154/img/img/3389/main_product_bg.jpg) no-repeat;
  height: 180px;
  width: 160px;
  padding-left: 14px;
  padding-top: 8px;
  position: relative;
  margin-bottom: 10px;
}/* 個別產品外框架 */
div.ptlist div.list table.list div.ptcontent div.showcontent {}/* 個別產品外框架 */
div.ptcontent div.showcontent span.shadow-ptname a.shadow-link {
  display: block;
  height: 30px;
  width: 130px;
  overflow: hidden;
  position: absolute;
  top: 155px;
  text-align: center;
  font-weight: normal;
  font-family: Verdana, Geneva, sans-serif;
  color: #000;
}/* 產品名稱 */

div.ptcontent div.showcontent span.shadow-ptname a.shadow-link:hover {
	display: block;
	height: 30px;
	width: 130px;
	overflow: hidden;
	position: absolute;
	top: 155px;
	text-align: center;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	text-decoration: none;
}/* 產品名稱 */ 

div.ptcontent div.showcontent span.shadow-ptname a.cglist-name {
  display: block;
  height: 30px;
  width: 130px;
  overflow: hidden;
  position: absolute;
  top: 155px;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}/* 產品名稱 */

div.ptcontent div.showcontent span.shadow-ptname a.cglist-name:hover {
  display: block;
  height: 30px;
  width: 130px;
  overflow: hidden;
  position: absolute;
  top: 155px;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: underline;
}/* 產品名稱 */ 
div.ptlist div.list table.list div.ptcontent div.showcontent span.shadow-special img {
	display: none;
}/* 產品名稱new圖示 */
div.ptlist div.list table.list div.ptcontent div.showcontent td.shadow-text a.shadow-link img {
	border: 1px solid #eee;
	display: inline-block;
}/* 產品小圖 */
div.ptlist div.list table.list div.ptcontent div.showcontent td.shadow-text a.shadow-link img:hover {
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}/* 產品小圖 */

div.ptlist div.list table.list div.ptcontent div.showcontent td.shadow-text {
	position: absolute;
	top: 12px;
}/* 產品簡單說明 */
div.ptlist div.list table.list div.ptcontent div.showcontent td.new_price_left,
div.ptlist div.list table.list div.ptcontent div.showcontent td.new_price_right {
	color: #CC0000;
}/* 價格 */
div.ptadd{
  text-align: right;
  padding-right: 10px;
}/* 加入購物車圖示 */
div.ptlist div.list table.list div.ptcontent div.showcontent a.cart_add {}/* 加入購物車文字 */
div.ptlist div.page {}/* 換頁分頁設定 */


/*-----------------分類頁面(表格陳列--有產品)-----------------------*/
div.ptlist div.list table.listmod_4 {
	width: 100%;
}/* 陳列主框架 */
div.ptlist div.list table.listmod_4 thead {
	display: none;
}/* 陳列上版名稱 */
div.ptlist div.list table.listmod_4 tbody {}/* 陳列內容資料 */
div.ptlist div.list table.listmod_4 td.row_01 {
	font-size: 14px;
	line-height: 35px;
}/* 陳列資料單行 */
div.ptlist div.list table.listmod_4 td.row_02 {	font-size: 14px;
	line-height: 35px;
}/* 陳列資料雙行 */
div.ptlist div.list table.listmod_4 td.row_01 a,div.ptlist div.list table.listmod_4 td.row_02 a{
	font-size: 14px;
	line-height: 35px;
	color: #000000;
	display: block;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}/* 陳列資料單行--主題 */
div.ptlist div.list table.listmod_4 td.row_01 a:hover,div.ptlist div.list table.listmod_4 td.row_02 a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #3399cc;
}/* 陳列資料單行--主題 */

div.ptlist div.page {}/* 換頁分頁設定 */


/*-----------------明細頁面(文繞圖)-----------------------*/
div.mo_ptdetail {}/* 總框架 */
div.mo_ptdetail div.path {
    text-align: right;
	position: absolute;
	top: 15px;
	display: block;
	float: right;
	width: 720px;
}/* 路徑 */
div.mo_ptdetail div.ptname {
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #587f75;
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
	padding-left: 10px;
}/* 標題 */
div.mo_ptdetail div.ptdet {}/* 大圖+說明內容總框架 */

div.box1 {
	position: absolute;
	width: 320px;
	top: 650px!important;
}

div.mo_ptdetail div.ptdet table.largeimage_2 {
	float: left;
	margin-bottom: 135px;
	width: 320px;
}/* 大圖+價格+購物按鈕 */
div.mo_ptdetail div.ptdet table.largeimage_2 img{
	border: 10px solid #eee;
}/* 大圖+價格+購物按鈕 */

div.mo_ptdetail div.ptdet table.largeimage_2 table td img{
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}/* 大圖+價格+購物按鈕 */

div.mo_ptdetail div.ptdet table.largeimage_2 td.new_price_left,
div.mo_ptdetail div.ptdet table.largeimage_2 td.new_price_right {
	font-weight: bold;
	color: #CC0000;
}/* 價格 */
div.mo_ptdetail div.ptdet table.largeimage_2 a.addtocart {}/* 購物車文字 */
div.mo_ptdetail div.ptdet div.haveimage_2 {
	font-size: 14px;
	line-height: 30px;
	float: right;
	width: 380px;
	padding-right: 10px;
	padding-left: 10px;
}/* 商品說明內容 */




div.viewcart div.tips{ display:none;}

/*--------------------*/
div.viewcart {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}/* 總框架 */
div.viewcart h3{
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #587f75;
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
	padding-left: 10px;
}/* 購物車頁面 */
div.viewcart div.tips {	color: #000000;
	line-height: 30px;
}/* 幣別說明 */
table.viewcart {
	width: 100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
}/* 表格框架 */
table.viewcart thead {}/* 名稱框架 */
table.viewcart thead th {
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	background-color: #eeeeee;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 10px;
}/* 名稱框架欄位 */
table.viewcart tbody {}/* 內容框架 */
table.viewcart tbody td.row_01,
table.viewcart tbody td.row_02{
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-size: 14px;
	line-height: 30px;
	color: #333333;
	background-color: #FFFFFF;
	padding: 10px;
}/* 內容框架欄位 */
table.viewcart tbody td div{
  color: #FF0000;
  text-align: center;
}/* 內容框架價格文字 */
table.viewcart tfoot {
	font-size: 14px;
	line-height: 30px;
	color: #000000;
	width: 100%;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}/* 合計欄位 */
table.viewcart tfoot td{
  padding: 10px;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
 
}/* 合計欄位 */

table.viewcart tfoot td div{
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	color: #FF0000;
}/* 合計價格文字 */
div.viewcart table.control {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}/* 按鈕框架 */
div.viewcart table.control td{}/* 按鈕框架左右欄 */
div.viewcart table.control td div{
	display: inline-block;
	float: right;
}/* 按鈕框架右欄 */
table.viewcart tfoot td br{
	display: none;
}/* 合計欄位 */


div.bill {
	color: #000000;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
div.bill div.tips {	color: #000000;
	line-height: 30px;
}/* 幣別說明 */
div.bill h3 {
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #587f75;
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
	padding-left: 10px;
}/* 標題 */
div.bill table.control {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}/* 按鈕框架 */
div.checkoutmsg {
	margin-top: 20px;
	height: 400px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
div.checkoutmsg div.msg{	font-size: 14px;
	line-height: 35px;
     padding-top:50px;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	height: 400px;
	width: 600px;
	border: 1px solid #CCCCCC;
}


/*----------------------*/

div.account {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}/* 總框架 */
div.account h3 {
	border-bottom-width: 1px;
	border-left-width: 3px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #587f75;
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
	padding-left: 10px;
}/* 標題 */
div.account div.tips {
	color: #000000;
	line-height: 30px;
}/* 必填文字說明 */
div.account div.title {
	display: none;
}/* 中標題 */
table.account {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	width: 100%;
}/* 表格主框架 */
table.account td.row_01_left,
table.account td.row_02_left {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	line-height: 30px;
	font-size: 12px;
	background-color: #eeeeee;
	width: 30%;
	padding: 10px;
	text-align: right;
}/* 表格左欄 */
table.account td.row_01_right,
table.account td.row_02_right {
	padding: 10px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-right-style: solid;
	border-bottom-color: #CCCCCC;
	border-right-color: #CCCCCC;
	font-size: 12px;
	line-height: 30px;
	background-color: #FFFFFF;
	width: 70%;
}/* 表格右欄 */
div.submit {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}/* 確認按鈕 */
div.acctmsg {
	margin-top: 20px;
	height: 400px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
div.acctmsg div.msg{
  line-height: 35px;
  padding-top:50px;
  background-color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  height: 400px;
  width: 600px;
  border: 1px solid #CCCCCC;
  font-size: 14px;
}

/*------會員登入頁面---*/

div.login h3{	
    border-bottom-width: 1px;
	border-left-width: 3px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #587f75;
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
	padding-left: 10px;
}/* 標題 */

div.login table.login{
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  margin-left: 300px;
  padding-bottom: 10px;
}

div.login div.tips{
  margin-left: 300px;
  padding-bottom: 10px;
}
div.login table.login tr td.row_01_left,
div.login table.login tr td.row_02_left {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	line-height: 30px;
	font-size: 12px;
	background-color: #eeeeee;
	width: 30%;
	padding: 10px;
	text-align: right;
}/* 表格左欄 */
div.login table.login tr td.row_01_right,
div.login table.login tr td.row_02_right {
	padding: 10px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-size: 12px;
	line-height: 30px;
	background-color: #FFFFFF;
	width: 70%;
}/* 表格右欄 */


div.mo_query{
  background: url(../../../../red044.redmedia.com.tw/ezcatfiles/red044/img/img/2715/mo_query_bg.html) no-repeat;
  height: 200px;
  width: 900px;
  padding-top: 100px;
}

div.mo_query div.msg{
  padding-left: 300px;
  font-size: 15px;
  color: #F00;
  padding-bottom: 20px;
}

div.login div.msg{
  padding-left: 300px;
  font-size: 15px;
  color: #F00;
  padding-bottom: 20px;
}