@charset "utf-8";
/* CSS Document */
/* -----------------基本設定----------------------- */
body {
  color: #666666;
  margin: 0px;
  padding: 0px;
  font: 10px Verdana, Geneva, sans-serif;
}

a {
  font-family: Verdana, Geneva, sans-serif;
  color: #999;
  text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #333333;
}

img { border:0; }

/*-----------------下版計數器及top按鈕-----------------------*/
div.counter {}
div.gotop {display:none;}

/* -----------------下版版權所有----------------------- */
